<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

  <application>
    <receiver
      android:name=".AndroidUsageReminderReceiver"
      android:exported="false">
      <intent-filter>
        <action android:name="android.intent.action.USER_PRESENT" />
      </intent-filter>
    </receiver>
  </application>
</manifest>
